page-list {
  font-size:10px;
  ion-grid {
    ion-row {
      text-align: center;
      margin-left: 5%;
      margin-right: 5%;
    }
  }

  hr {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: 5%;
    margin-right: 5%;;
    border: 1px inset #eee8d5;
  }
  ion-badge {
    border-radius: 50% !important;
    background-color: #5b5b5b !important;
  }

}
